body{
    margin: 0;
}
.body {
  display: grid;
  grid-template-columns: 20% 55% 20%;
  gap: 2.8%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.category {
  margin-top: 55px;
  padding: 10px;
  height: 95vh;
  overflow: auto;
  box-sizing: border-box;
}
/* /////////// POST LISt ////////////////////// */
.postlist {
  margin-top: 55px;
  padding: 10px;
  /* background-color: rgb(150, 38, 26); */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border: 1px solid #9e9e9e;
}
.postlist>.post-card .time{
  margin-top: 8px;
}
.postlist>.post-card{
  width: 80%;
}
.postlist .post-card .post-content b {
  font-size: 18px;
  width: 100px;
}
.postlist .post-card .info-mini b {
  font-size: 18px;
  width: 150px;
}
.postlist .post-card .post-content label {
  font-size: 17px;
}
.postlist .post-card .post-image{
  height: max-content;
}
/* ------------------------------------------ */
.div-user-search:hover{
  background-color: #45454556;
}
/* ///////////// CHAT LIST //////////////// */
.chatlist {
  position: fixed;
  top: 55px;       /* cùng khoảng cách với category */
  right: 0;        /* dính sát lề phải */
  width: 20%;      /* giống grid-template-columns */
  height: calc(100vh - 55px); /* full chiều cao trừ header */
  padding: 10px;
  overflow: auto;  /* nếu danh sách dài thì có scroll */
}
