body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #EFE4D2;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  transition: all 0.8s ease;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
}

.container__left {
  background-color: #FAF1E6;
  width: 50%;
  height: 100%;
  border-radius: 0 0 100% 0;
  transition: transform 1.5s ease, border-radius 1s ease;
  border: 1px solid #9F9F9F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.container.reverse .container__left {
  transform: translateX(100%);
  border-radius: 0 0 0 100%;
}
.input-radio{
  width: 100%;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 100px;
}
.input-radio input{
  width: 15px;
}
label{
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  padding: 0 20px;
  color: #6d6d6d;
}
p {
  font-size: 25px;
  width: 68%;
  margin-top: 50px;
  font-style: italic;
  color: #6d6d6d;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

form {
  width: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  border: 1px solid #bebebe;
  box-shadow: 3px 3px 8px rgba(102, 102, 102, 0.1);
  font-size: 20px;
  scale: 0.8;
}
.container__left img{
scale: 0.6;
margin-top: -40px;
  
}
h1 {
  margin: 15px 0 20px 0;
}

input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 100px;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 30px;
}

.input-wrapper input {
  padding-left: 50px;
}

.container__icon i {
  border-radius: 100%;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  color: #6d6d6d;
  border: 1px solid #757575;
}

button {
  width: fit-content;
  padding: 10px 30px;
  font-size: 20px;
  background-color: #52B179;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.button__reverse {
  margin-top: 20px;
}

a {
  margin: 20px 0;
  color: #000;
  text-decoration: none;
}

button:hover {
  background-color: #267d4a;
}

.container__icon i:hover {
  background-color: #52B179;
  color: #fff;
}

u:hover, a:hover, p:hover {
  color: #267d4a;
}

/* ============= FORM TRƯỢT ============= */
.form-wrapper {
  position: absolute;
  top: 0;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1.5s ease, opacity 3s ease;
  z-index: 1;
}

.form-wrapper.login {
  right: 0;
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}

.container.reverse .form-wrapper.login {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.form-wrapper.register {
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}

.container.reverse .form-wrapper.register {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}